---
import Navigation from './Navigation.astro';
import Social from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
    <nav>
        <Hamburger />
<Navigation />
    </nav>
</header>